/* =========== Common styles =========== */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* =========== /Common styles =========== */
/* =========== Page Header styles =========== */
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  display: block;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 17px 0;
}

.logo-part {
  color: #2e2f42;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: none;
}

.address {
  display: none;
}

.open-menu-btn {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

@media screen and (min-width: 768px) {
  .open-menu-btn {
    display: none;
  }
  .page-nav {
    display: flex;
    align-items: center;
  }
  .logo {
    margin-right: 120px;
  }
  .menu {
    display: flex;
    gap: 40px;
  }
  .menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
  }
  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }
  .menu-link.active {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link.active::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .address {
    display: block;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  address {
    font-style: normal;
  }
  .address-link {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
  .address-list {
    flex-direction: row;
    gap: 40px;
  }
  .address-link {
    font-size: 16px;
    line-height: 1.6;
  }
}

/* ============== Mobile menu styles ========================== */
@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
  }
  .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 8px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    border-radius: 100%;
    fill: #e7e9fc;
    stroke-width: 1px;
    stroke: #2e2f42;
    border: none;
  }
  .mobile-menu-close-icon {
    fill: #2e2f42;
  }
  .mobile-menu-container {
    position: relative;
  }
}
.mobile-nav-menu {
  display: inline-block;
  margin-top: 72px;
  margin-bottom: 168px;
  min-width: 151px;
  margin-left: 0;
}
.mob-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.mobile-menu-item {
  margin-bottom: 40px;
}
.mobile-menu-item:last-child {
  margin-bottom: 0;
}
.mob-menu-link.mob-active {
  color: #404bbf;
}
.mob-menu-link:hover,
.mob-menu-link:focus {
  color: #404bbf;
}
.mobile-address-menu {
  display: block;
  min-width: 193px;
  margin-bottom: 48px;
  margin-left: 0;
}
.mobile-address-item {
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mobile-address-menu-item {
  margin-bottom: 24px;
}
.mobile-address-menu-item:last-child {
  margin-bottom: 0;
}
.mobile-address-item.address-active {
  color: #4d5ae5;
}
.mobile-address-item:hover,
.mobile-address-item:focus {
  color: #4d5ae5;
}
.social-list-mob-menu {
  display: flex;
  gap: 40px;
  margin: 0 8px 40px 0;
}
.social-list-icon-mob-menu {
  width: 40px;
  height: 40px;
}
.social-list-link-mob-menu {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link-mob-menu:hover,
.social-list-link-mob-menu:focus {
  background-color: #31d0aa;
}
.social-icon-mob-menu {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* ================= /Mobile menu styles ======================= */

/* =========== Backdrop styles =========== */
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  z-index: 9999999;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
}

.is-open {
  opacity: 1;
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 24px 16px;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: #ffffff;
}
/* =========== /Backdrop styles =========== */

/* =========== Call back form styles =========== */
.call-back-form-dscr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
  max-width: 256px;
  margin-left: auto;
  margin-right: auto;
}

.call-back-form {
  max-width: 256px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}

.call-back-form-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 256px;
  height: 40px;
  background-color: transparent;
  padding-left: 34px;
  outline: transparent;
}

.call-back-form-field-wrapper {
  margin-bottom: 8px;
}

.comment {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .call-back-form-dscr {
    max-width: 360px;
  }
  .call-back-form {
    max-width: 360px;
  }
  .call-back-form-input {
    width: 360px;
  }
}
@media screen and (min-width: 1158px) {
  .call-back-form-input {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .call-back-form-input:focus {
    border-color: #4d5ae5;
    outline: transparent;
  }
  .call-back-form-input:focus + .contact-form-field-icon {
    fill: #4d5ae5;
  }
}

.call-back-form-field-wrapper {
  margin-bottom: 8px;
}

.comment {
  margin-bottom: 16px;
}

.call-back-form-field-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.call-back-form-input-wrapper {
  position: relative;
}

.call-back-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.call-back-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
}

.call-back-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

@media screen and (min-width: 1158px) {
  .call-back-comment:focus {
    border-color: #4d5ae5;
    outline: transparent;
  }
}

.call-back-checkbox-wrapper {
  margin-bottom: 24px;
}

.call-back-checkbox-label {
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  line-height: 1.17;
}

.privacy-policy-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.call-back-own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.call-back-checkbox-privacy:checked
  + .call-back-checkbox-label
  .call-back-own-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.call-back-checkbox-privacy:focus
  + .call-back-checkbox-label
  .call-back-own-checkbox {
  outline: 1px solid rgba(46, 47, 66, 0.4);
}

.call-back-form-submit-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #4d5ae5;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* =========== /Call back form styles =========== */

/* =========== Hero Section styles =========== */
.hero {
  max-width: 320px;
  min-height: 432px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/mob-hero1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: auto;
  margin-left: auto;
  padding: 72px 0;
}

@media screen and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/mob-hero2x.jpg);
  }
}

.main-title {
  max-width: 216px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.order-service-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  display: block;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-btn:hover,
.order-service-btn:focus {
  background: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/tab-hero1x.jpg);
    padding: 112px 0;
  }
  @media screen and (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/tab-hero2x.jpg);
    }
  }
  .main-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    color: #fff;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero.jpg);
    padding: 188px 0;
  }
  @media screen and (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/hero2x.jpg);
    }
  }
  .main-title {
    margin-bottom: 48px;
  }
}
/* =========== /Hero Section styles =========== */

/* =========== Benefits Section styles =========== */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits {
  padding: 96px 0;
}

.benefits-list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.benefits-list-title:last-child {
  margin-bottom: 0;
}

.benefits-list-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-title {
  visibility: hidden;
  margin-bottom: 0;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.benefits-list-item {
  width: 100%;
}

.div-icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .benefits-list-title {
    text-align: start;
  }
  .benefits-list {
    column-gap: 24px;
    row-gap: 72px;
  }
  .benefits-list-item {
    width: calc((100% - 24px) / 2);
  }
  .benefits-list-title:last-child {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1158px) {
  .benefits {
    padding: 120px 0;
  }
  .benefits-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
  }
  .benefits-list-text {
    font-weight: 400;
  }
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .benefits-list-item {
    width: calc((100% - 72px) / 4);
  }
  .div-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    margin-bottom: 8px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
  }
}
/* =========== /Benefits Section styles =========== */

/* =========== Team Section styles =========== */
.team-item-name {
  padding: 32px 16px;
}

.team {
  background-color: #f4f4fd;
  padding: 96px 12px;
}

.team-item {
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
}

.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 8px;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  background: #fff;
  text-align: center;
  margin-bottom: 8px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
}

.social-network-list {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  justify-content: center;
}

.social-network-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network-link:hover,
.social-network-link:focus {
  background-color: #404bbf;
}

.social-network-item {
  width: 40px;
  height: 40px;
}

.social-network-icon {
  fill: #f4f4fd;
  justify-content: center;
  align-items: center;
}

.icon-item {
  justify-content: center;
  align-items: center;
  display: flex;
}

@media screen and (min-width: 768px) {
  .team {
    padding: 96px auto;
  }
  .team-list {
    gap: 24px;
    row-gap: 64px;
    justify-content: center;
  }
}

@media screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }
}
/* =========== /Team Section styles =========== */

/* =========== Portfolio Section styles =========== */
.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  min-width: 288px;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background: #ffffff;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background: #ffffff;
}

.portfolio-item-name {
  padding: 32px 16px;
}

.portfolio-app {
  margin-bottom: 8px;
}

.project-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-item {
  width: 288px;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border: 1px solid #f4f4fd;
  background: #fff;
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-overlay-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  height: 100%;
  width: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .project-overlay-text {
  transform: translateY(0%);
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    column-gap: 24px;
    row-gap: 72px;
    min-width: 356px;
  }
  .portfolio-item {
    width: 356px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .portfolio-list {
    row-gap: 48px;
    min-width: 360px;
  }
  .portfolio-item-name {
    border: #e7e9fc;
    border-top: none;
  }
  .portfolio-item {
    width: 360px;
    border: 1px solid #e7e9fc;
  }
}
/* =========== /Portfolio Section styles =========== */

/* =========== Footer styles =========== */
.page-footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-box {
  display: block;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  background: #2e2f42;
  margin-bottom: 16px;
  display: inline-block;
  margin-left: 86px;
  margin-right: 86px;
}

.logo-footer-part {
  color: #f4f4fd;
}

.page-footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}

.footer-one {
  margin-bottom: 72px;
}

.footer-two-text {
  margin-bottom: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  padding-left: 56px;
  padding-right: 56px;
  text-align: center;
}

.footer-two {
  margin-bottom: 72px;
}

.footer-two-list {
  display: flex;
  gap: 16px;
  text-align: center;
  justify-content: center;
}

.footer-two-item {
  width: 40px;
  height: 40px;
}

.footer-two-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-two-link:hover,
.footer-two-link:focus {
  background-color: #31d0aa;
}

.footer-icon {
  fill: #f4f4fd;
}

.footer-subscribe-dscr {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-form-input {
  width: 100%;
  min-width: 264px;
  height: 40px;
  outline: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  background-color: transparent;
  padding-left: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 16px;
}

.footer-form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-form-input:focus {
  border-color: #4d5ae5;
}

.footer-subscribe-btn {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 0;
  min-width: 165px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  background: #4d5ae5;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  border-color: #4d5ae5;
}

.footer-sbscr-icon {
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .logo-footer {
    text-align: start;
  }
  .page-footer .footer-box {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
  .footer-one {
    width: 264px;
    margin-right: 24px;
    margin-left: 96px;
  }
  .logo-footer {
    margin-left: 0;
    margin-right: 0;
  }
  .footer-two {
    min-width: 208px;
  }
  .footer-two-text {
    text-align: left;
    padding-left: 0;
    padding-right: 0;
  }
  .footer-subscribe-dscr {
    text-align: left;
  }
  .footer-subscribe {
    margin-left: 96px;
  }
  .footer-form {
    display: flex;
    gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .page-footer {
    padding: 100px 0;
  }
  .footer-one {
    margin-left: 0;
    margin-right: 120px;
    margin-bottom: 0;
  }
  .footer-two {
    margin-right: 80px;
    margin-bottom: 0;
  }
  .footer-subscribe {
    margin-left: 0;
  }
  .footer-subscribe-btn {
    margin-right: 0;
  }
}
/* =========== /Footer styles =========== */
